// imports
@use "./breakpoint" as *;

// tipografia
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Sen:wght@400;700&display=swap");

// cores
$purple: #6106f3;
$purple-hover: #3a0196;
$white: #f9f9f9;
$white-200: #eaeaea;
$gray: #2f2f2f;

// reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;

  body {
    background-color: $white;
  }
}

.container-global {
  max-width: 1440px;
  height: 100vh;

  padding: 0 15%;

  @include breakpoint(large-up) {
    margin: auto;
    padding: 0;
  }

  .cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;

    h3 {
      font-family: "Inter", sans-serif;
      font-size: 2rem;
      font-weight: 700;
      color: $gray;

      @include breakpoint(small-only) {
        font-size: 1.5rem;
      }
    }

    .container-pesquisa {
      display: flex;
      align-items: center;
      gap: 2.8rem;

      .icone-pesquisa {
        padding: 0.6rem 0.7rem;
        border: 2px solid $white-200;
        background-color: white;
        border-radius: 100%;

        cursor: pointer;

        @include breakpoint(small-only) {
          display: none;
        }

        img {
          max-width: 1.5rem;
          max-height: 1.5rem;
        }

        &:hover {
          transition: 600ms;
          background-color: $white-200;
        }
      }

      .fazer-login {
        padding: 0.9rem 2.5rem;
        border: 2px solid $white-200;
        background-color: white;
        border-radius: 6.2rem;

        cursor: pointer;

        @include breakpoint(small-only) {
          padding: 0.5rem 1rem;
        }

        a {
          font-family: "Inter", sans-serif;
          font-size: 1rem;
          font-weight: 500;
          text-decoration: none;
          text-transform: uppercase;
          color: #2f2f2f;

          @include breakpoint(small-only) {
            font-size: 0.9rem;
          }
        }

        &:hover {
          transition: 600ms;
          background-color: $white-200;
        }
      }
    }
  }

  main {
    height: 100%;
    max-width: 1440px;

    .secao-principal {
      height: 100%;
      max-width: 1440px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3.1rem;

      position: relative;

      @include breakpoint(large-up) {
        height: 80%;
      }

      @include breakpoint(medium-only) {
        div[class*="img-emoji"] {
          visibility: hidden;
        }
      }

      .img-emoji-1 {
        position: absolute;
        top: 0.3rem;
        left: 6.2rem;

        transform: rotate(45deg);

        background: linear-gradient(
          136.92deg,
          #2dc7ed 3.14%,
          rgba(45, 199, 237, 0) 100%
        );

        @include breakpoint(large-up) {
          top: 1rem;
          left: 8rem;
        }

        .img-1 {
          max-width: 9.3rem;
          max-height: 9.3rem;
          transform: rotate(-45deg);
        }
      }

      .img-emoji-2 {
        position: absolute;
        top: 1.2rem;
        left: 43.7rem;

        border-radius: 100%;

        background: linear-gradient(
          270deg,
          #f2c94c 0%,
          rgba(242, 201, 76, 0) 100%
        );

        @include breakpoint(large-up) {
          top: 0rem;
          left: 60rem;
        }

        .img-2 {
          max-width: 8.1rem;
          max-height: 8.1rem;
        }
      }

      .img-emoji-3 {
        position: absolute;
        top: 21.8rem;
        left: 0px;

        border-radius: 1.8rem;

        background: linear-gradient(
          136.92deg,
          #ef7c89 3.14%,
          rgba(239, 124, 137, 0) 100%
        );

        @include breakpoint(large-up) {
          top: 20rem;
          left: 5rem;
        }

        .img-3 {
          max-width: 9.3rem;
          max-height: 9.3rem;
        }
      }

      .img-emoji-4 {
        position: absolute;
        top: 31.8rem;
        left: 31.2rem;

        border-radius: 100%;

        background: linear-gradient(
          270deg,
          #7248ec 0%,
          rgba(114, 72, 236, 0) 100%
        );

        @include breakpoint(large-up) {
          top: 31rem;
          left: 45rem;
        }

        .img-4 {
          max-width: 8.1rem;
          max-height: 8.1rem;
        }
      }

      .img-emoji-5 {
        position: absolute;
        top: 25rem;
        left: 48.7rem;
        transform: rotate(45deg);

        background: linear-gradient(
          180deg,
          #00e861 0%,
          rgba(0, 232, 97, 0) 100%
        );

        @include breakpoint(large-up) {
          top: 23rem;
          left: 65rem;
        }

        .img-5 {
          max-width: 8.1rem;
          max-height: 8.1rem;
          transform: rotate(-45deg);
        }
      }

      .sub-titulo {
        font-family: "Inter", sans-serif;
        font-size: 1.1rem;
        font-weight: 500;
        color: $gray;
      }

      .titulo {
        font-family: "Sen", sans-serif;
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 4.3rem;
        text-align: center;
        color: $gray;

        @include breakpoint(small-only) {
          font-size: 2.5rem;
          line-height: 3.3rem;
        }

        @include breakpoint(small-up) {
          margin-top: 40px;
        }
      }

      .container-botoes {
        @include breakpoint(small-only) {
          display: flex;
          justify-content: center;
          margin-top: 40px;
          width: 100%;
        }

        @include breakpoint(small-up) {
          margin-top: 40px;
        }

        .btn {
          margin: 0 20px;
          padding: 15px 40px;
          border-radius: 10px;
          text-transform: uppercase;

          font-family: "Inter", sans-serif;
          font-weight: 600;

          cursor: pointer;

          @include breakpoint(small-only) {
            padding: 10px 20px;
            font-size: 0.8rem;
          }
        }

        .btn-primario {
          background-color: $purple;
          border: 1px solid $purple;

          color: $white;

          &:hover {
            transition: 600ms;
            background-color: $purple-hover;
            color: white;
          }
        }

        .btn-secundario {
          background-color: white;
          border: 2px solid $white-200;

          color: $gray;

          &:hover {
            transition: 600ms;
            background-color: $white-200;
          }
        }
      }
    }

    .secao-depoimentos {
      height: 32%;
      margin: 1.8rem 0;
      background-color: white;

      display: flex;
      gap: 6.2rem;

      @include breakpoint(large-up) {
        height: 50%;
      }

      @include breakpoint(small-only) {
        display: flex;
        flex-direction: column;

        height: auto;
      }

      .container-depoimento {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 3.1rem;

        .autor-depoimento {
          font-family: "Sen", sans-serif;
          font-size: 1.2rem;
          font-weight: 400;
          color: $gray;
          text-transform: uppercase;
          opacity: 0.75;
          padding-left: 0.6rem;

          border-left: 3px solid $purple;
        }

        .depoimento {
          font-family: "Inter", sans-serif;
          font-size: 1rem;
          line-height: 1.6rem;
          font-style: italic;
          color: $gray;
          margin: 1.2rem 0;
        }
      }
    }
  }
}
